:root {
    --el-color-primary: #d93934;
    --el-color-primary-light-1: #fff3f0;
    --el-color-primary-light-2: #ffe6e0;
    --el-color-primary-light-3: #ffc1b8;
    --el-color-primary-light-4: #f29288;
    --el-color-primary-light-5: #C4C6CC;
    --el-color-primary-light-7: #b32222;
    --el-color-primary-light-8: #8c1418;
    --el-color-primary-light-9: #ffe6e0;
    --el-color-primary-dark-2: #ae2e2a;
}
.el-card {
    --el-card-padding: 4px;
}